<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.1" targetFramework="net461" />
  <package id="RestSharp" version="106.2.1" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net461" />
  <package id="TwitchLib" version="2.0.1" targetFramework="net461" />
  <package id="TwitchLib.Api" version="2.0.1" targetFramework="net461" />
  <package id="TwitchLib.Client" version="2.0.0" targetFramework="net461" />
  <package id="TwitchLib.PubSub" version="2.0.0" targetFramework="net461" />
  <package id="obs-websocket-dotnet" version="4.2.0-beta3" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>